[user]
	name = Andreas Neuhaus
	email = zargony@zargony.com
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false
[color]
	ui = auto
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[push]
	default = upstream
[pack]
	threads = 0
[diff]
	compactionHeuristic = true
[diff "utf16diff"]
	textconv = iconv -f utf-16 -t utf-8
[difftool "SourceTree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "SourceTree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
