[user]
	name = Andreas Neuhaus
	email = git@zargony.com
	signingkey = 25E77B1E7152AC2A
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false
[credential]
	helper = osxkeychain
[alias]
	br = branch
	co = checkout
	st = status
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[log]
	showSignature = true
[pull]
	rebase = true
[rebase]
	autostash = true
[push]
	default = upstream
[pack]
	threads = 0
[gc]
	autodetach = false
[diff]
	compactionHeuristic = true
[diff "utf16diff"]
	textconv = iconv -f utf-16 -t utf-8
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
