[user]
	name = Andreas Neuhaus
	email = zargony@zargony.com
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[color]
	ui = auto
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[commit]
	#gpgsign = true
[pull]
	rebase = true
[rebase]
	autostash = true
[push]
	default = upstream
[pack]
	threads = 0
[gc]
	autoDetach = false
[diff]
	compactionHeuristic = true
[diff "utf16diff"]
	textconv = iconv -f utf-16 -t utf-8
