'release-notes':
  'viewedVersion': '0.67.0'
'editor':
  'fontSize': 12
  'fontFamily': 'Fira Mono OT'
  'showInvisibles': true
  'softTabs': false
  'tabLength': 4
  'softWrap': true
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/zargony/Projects'
  'disabledPackages': [
    'metrics'
    'exception-reporting'
    'welcome'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
