'global':
  'editor':
    'fontSize': 13
    'fontFamily': 'Fantasque Sans Mono'
    'showIndentGuide': true
    'showInvisibles': true
    'softTabs': false
    'softWrap': true
    'tabLength': 4
    'invisibles':
      'cr': '↩'
      'tab': '⇥'
  'core':
    'disabledPackages': [
      'metrics'
      'exception-reporting'
      'welcome'
    ]
'.ruby.source':
  'editor':
    'softTabs': true
    'tabLength': 2
'.rust.source':
  'editor':
    'softTabs': true
    'tabLength': 4
'.source.yaml':
  'editor':
    'softTabs': true
    'tabLength': 2
