"*":
  editor:
    fontFamily: "Fantasque Sans Mono"
    fontSize: 14
    lineHeight: 1.2
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    softWrap: true
    softTabs: false
    invisibles: {}
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
    ]
    themes: [
      "isotope-ui"
      "base16-tomorrow-dark-theme"
    ]
  minimap:
    plugins:
      "highlight-selected": true
      "git-diff": true
  "graphite-ui": {}
  "isotope-ui":
    compactLayout: true
    lowContrastTooltip: true
  "highlight-selected":
    onlyHighlightWholeWords: true
".source.yaml":
  editor:
    softTabs: true
    tabLength: 2
".rust.source":
  editor:
    softTabs: true
    tabLength: 4
".ruby.source":
  editor:
    softTabs: true
    tabLength: 2
".coffee.source":
  editor:
    softTabs: true
    tabLength: 2
